html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

section {
  padding: 100px;
  min-height: 100vh;  /* Ensures each section takes full view height */
}

#home {
  background-color: #f0f0f0;
}

#chatbot {
  background-color: #e0e0e0;
}
